.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group グループ名
      %ul.main-header__left-box__member-list
        %p Member :
        %li.main-header__left-box__member-list__member メンバー1
        %li.main-header__left-box__member-list__member メンバー2
        %li.main-header__left-box__member-list__member メンバー3
        %li.main-header__left-box__member-list__member メンバー4
        %li.main-header__left-box__member-list__member メンバー5
        %li.main-header__left-box__member-list__member メンバー6
    =link_to "#" do 
      .main-header__edit-btn
        Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker ユーザー名
        %p.message__upper-info__date 2019/11/20(Wed) 10:07:19
      %p.message__text メッセージ1
      %p.message__text メッセージ2
  .form