.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group グループ名
      %ul.main-header__left-box__member-list
        %p Member :
        %li.main-header__left-box__member-list__member メンバー1
        %li.main-header__left-box__member-list__member メンバー2
        %li.main-header__left-box__member-list__member メンバー3
        %li.main-header__left-box__member-list__member メンバー4
        %li.main-header__left-box__member-list__member メンバー5
        %li.main-header__left-box__member-list__member メンバー6
    =link_to "#" do 
      .main-header__edit-btn
        Edit

  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker ユーザー名1
        %p.message__upper-info__date 2019/11/20(Wed) 10:07:19
      %p.message__text メッセージ1
    .message
      .message__upper-info
        %p.message__upper-info__talker ユーザー名2
        %p.message__upper-info__date 2019/11/21(Wed) 10:07:19
      %p.message__text メッセージ2

  -# .form
  -#   %form.new_message{action: "#", method: "#"}
  -#     .input-box
  -#       %input.input-box__text{type: "text", placeholder: "type a message",}
  -#       %label.input-box__image
  -#         %i.far.fa-image.fa-2x
  -#         %input.input-box__image__file{type: "file"}
  -#     %input.submit-btn{type: "submit", value: "Send"}
  .form
    =form_for [group, message] do |f|
      .input-box
        = f.text_field :body, placeholder: "type a message", class:"input-box__text"
        %label.input-box__image
          %i.far.fa-image.fa-2x
          = f.file_field :file, class:"input-box__image__file"
      = f.submit "Send", class: "submit-btn"

 